<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="methods" thread-count="9"
          name="/Users/sureshprajapati/Downloads/testautomation/testng/testng/src/test/java/docker/DockerTest1.java">
        <classes>
            <class name="docker.DockerTest">
            </class>
        </classes>
    </test>
</suite>